@import "partials/reset";
@import "partials/settings";

/* General */
html{
  background-color: $white;
}

body{
  max-width: 800px;
  background: #F1EECE;
  margin: auto;
  font-size: 16px;
  font-family: $font_lato; 
  color: $grey;
}

/* Layout */
header{
  display: inline;
  padding: 10px;
  h1{
    font-size: 2em;
    color: $orange;
    text-align: center;
    padding-bottom: 20px;
  }
}

h2{
  font-size: 2em;
  color: $white;
  background-color: $orange;
  padding: 25px;
}

#logo{
  padding-bottom: 20px;
}

.main_container{
  border-top: 1px solid #ccc;
}

.update {
  float: left;
  padding: 20px 20px 9px;
}

p{
  padding: 10px 0 0 20px;
}

@each $btn in new_item, save{ 
  .#{$btn}{
    float: right;
    width: 160px;
    padding: 10px 5px;
    background-color: $orange;
    color: $white; 
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    margin-right: 20px;
  }
}


@each $form_item in input, textarea{
  #{$form_item}{
    display: block;
    margin: auto;
    width: 60%;
    padding-left: 10px;
    border: none;
    background-color: rgba(0,0,0,0);
  }

  #{$form_item}:hover{
    background-color: rgba(255, 255, 255,0.25)
  }
}

label{
  padding: 20px 0 5px;
  display: block;
  margin: auto;
  width: 60%;
}

input{
  height: 40px;
}

textarea{
  height: 80px;
}

li{
  // background-color: pink;
  padding: 30px 15px;
  border-bottom: 1px solid #ccc;
}

.checked label{
  width: 20px;
  height: 20px;
}

h3 {
    display: inline-block;
    width: 80%;
    font-size: 1.2em;
    margin-left: 30px;
  }

form{
  // display: inline-block;
  margin: 0;
  
  &.delete {
    width: 50px;
    font-size: 2em;
    border: none;
    color: #ccc;
    background-color: rgba(0,0,0,0);

    &:hover {
      color: $orange;
    }
  }
}

