@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* Base Fonts */
/* Base Size */
/*Inline Media Queries*/
/* Media Queries 
small : max-width: 640px
medium : min-width: 641px, max-width: 960px
large : min-width: 961px
*/
/* :: Colors :: */
/* :: Widths :: */
/* General */
html {
  background-color: #fff; }

body {
  max-width: 800px;
  background: #F1EECE;
  margin: auto;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #907A70; }

/* Layout */
header {
  display: inline;
  padding: 10px; }
  header h1 {
    font-size: 2em;
    color: #D47735;
    text-align: center;
    padding-bottom: 20px; }

h2 {
  font-size: 2em;
  color: #fff;
  background-color: #D47735;
  padding: 25px; }

#logo {
  padding-bottom: 20px; }

.main_container {
  border-top: 1px solid #ccc; }

.update {
  float: left;
  padding: 20px 20px 9px; }

p {
  padding: 10px 0 0 20px; }

.new_item {
  float: right;
  width: 160px;
  padding: 10px 5px;
  background-color: #D47735;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 1.2em;
  margin-right: 20px; }

.save {
  float: right;
  width: 160px;
  padding: 10px 5px;
  background-color: #D47735;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 1.2em;
  margin-right: 20px; }

.save {
  margin: 20px; }

.input_form {
  display: block;
  margin: auto;
  width: 60%;
  padding-left: 10px;
  border: none;
  background-color: transparent;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px; }
  .input_form:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #ccc; }

.form_container label {
  padding: 20px 0 5px;
  display: block;
  margin: auto;
  width: 60%; }

textarea[name="description"] {
  height: 80px; }

li {
  padding: 20px 15px;
  border-bottom: 1px solid #ccc; }
  li input[type="checkbox"] {
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
    left: 15px;
    border: none transparent; }
  li form {
    display: inline-block; }

.checked label {
  width: 20px;
  height: 20px; }

h3 {
  display: inline-block;
  position: relative;
  width: 80%;
  font-size: 1.2em;
  margin-left: 30px;
  height: 40px; }
  h3:before {
    content: " ";
    position: absolute;
    width: 0%;
    border-bottom: 2px solid #D47735;
    top: 10px;
    transition: width 1s; }

.strike h3 {
  color: #907A70; }
  .strike h3:before {
    width: 100%; }

.delete {
  width: 50px;
  font-size: 2em;
  border: none;
  color: #ccc;
  background-color: transparent; }
  .delete:hover {
    color: #D47735; }
