extends ../layouts/layout.jade

block content
  .container
    h2 Edit Item

    section.form_container.clearfix
      p= todos.created_at 
      form( action="/todos/#{todos._id}?_method=PUT", method="post" )
        fieldset
          label(for="title") Title
          input( type="text", class="input_form", name="title", value=todos.title)
          label(for="description") Description
          textarea(name="description", class="input_form")= todos.description 

        button.save Save