extends ../layouts/layout.jade

block content
  .container
      ul
        each todo in todos
          li
            form( action="" method="POST")
              input(type ="checkbox")
            span.title= todo.title
            form( action="/todos/#{todo._id}?_method=DELETE", method="POST")
              button x

        