extends ../layouts/layout.jade

block content
  .main_container
    ul
      each todo in todos
        li
          .checked
          input(type ="checkbox" data-todo-id="#{todo._id}")
          a(href="/todos/#{todo._id}/edit")
            h3= todo.title
          form( action="/todos/#{todo._id}?_method=DELETE", method="POST")
            button.delete x

        