extends ../layouts/layout.jade

block content
  .container.clearfix
    ul
      each todo in todos
        li
          input(type ="checkbox" data-todo-id="#{todo._id}")
          h3= todo.title
          form( action="/todos/#{todo._id}?_method=DELETE", method="POST")
            button x

        