extends ../layouts/layout.jade

block content
  .container
    h2 New Item

    section.form_container.clearfix
      form( action = "/todos", method = "post" )
        fieldset
          label(for="title") Title
          input( type = "text", class="input_form", name = "title", placeholder = "Title")
          label(for="description") Description
          textarea(name = "description", class="input_form", placeholder = "Description")

        button.save Save