/* Base Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);

/* Base Size */
$base : 16px;
$font-lato : 'Lato', sans-serif;
$font-oswald : 'Oswald', sans-serif;


/*Inline Media Queries*/
/* Media Queries 
small : max-width: 640px
medium : min-width: 641px, max-width: 960px
large : min-width: 961px
*/

$small-only : "only screen and (max-width:640px)";
$medium-down : "only screen and (max-width:960px)";
$medium-only : "only screen and (min-width:641px) and (max-width:960px)";
$medium-up : "only screen and (min-width:641px)";
$large-only : "only screen and (min-width:961px)";

/* :: Colors :: */ 
$orange : #D47735;
$grey : #907A70;
$white : #fff;

/* :: Widths :: */

$maxed_width : 700px;
